.app {
  text-align: center;
  font-family: 'Inter', 'Helvetica Neue', sans-serif;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
}

.search-form__input {
  margin: 0.3rem 0.3rem 0 0.5rem;
}

.search-form__submit {
  margin: 0.3rem 0 0 0;
  background-color: rgb(80, 92, 116);
  border: 2px solid rgb(80, 92, 116);
  border-radius: 0.25rem;
  color: white;
}

.app__header {
  font-family: 'Frank Ruhl Libre', 'Roboto Mono', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 3.5rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  color: black;
}

.app__description {
  font-family: 'Frank Ruhl Libre', 'Roboto Mono', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: gray;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: lighter;
}

.search__instructions {
  margin: 2rem 0 0 0;
}

.search__examples {
  margin-bottom: 1rem;
}

.search__example {
  margin: 0.25rem;
  font-style: italic;
  color: gray;
}

img {
  max-width: 15rem;
  margin: 1rem;
}

.image {
  display: flex;
  flex-direction: column;
  max-width: 15rem;
}

.image--no-results {
  font-family: 'Frank Ruhl Libre', 'Roboto Mono', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 2em;
}

.image__title {
  margin: 0;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
